@property --grid-size { syntax: "<length>"; inherits: false; initial-value: 50vh; }
@property --cell-size { syntax: "<number>"; inherits: false; initial-value: 5; }
@property --object-size { syntax: "<length>"; inherits: false; initial-value: 10vh; }
@property --object-size-half { syntax: "<length>"; inherits: false; initial-value: 5vh; }
@property --object-size-half-neg { syntax: "<length>"; inherits: false; initial-value: -5vh; }

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    /* --hue-bg: calc(var(--hue) + 240); */
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
    align-items: stretch;
    transform-style: preserve-3d;
    /* background: linear-gradient(to bottom, oklch(0.9375 0.02 var(--hue-bg)), oklch(0.875 0.08 var(--hue-bg))); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* CSS-only controls: object size and slider limits */
    /* --object-shape: cube;

    --scene-x-min: -90;
    --scene-x-max: 0;
    --scene-x-unit: calc(
        var(--scene-x-max) * var(--_sx) +
        var(--scene-x-min) * (1 - var(--_sx))
    );

    --scene-y-min: -180;
    --scene-y-max: 180;
    --scene-y-unit: calc(
        var(--scene-y-max) * var(--_sy) +
        var(--scene-y-min) * (1 - var(--_sy))
    );

    --light-x-min: 0;
    --light-x-max: 180;
    --light-x-unit: calc(
        var(--light-x-max) * var(--_lx) +
        var(--light-x-min) * (1 - var(--_lx))
    );

    --light-y-min: -180;
    --light-y-max: 180;
    --light-y-unit: calc(
        var(--light-y-max) * var(--_ly) +
        var(--light-y-min) * (1 - var(--_ly))
    );

    --object-x-min: 0;
    --object-x-max: 360;
    --object-x-unit: calc(
        var(--object-x-max) * var(--_ox) +
        var(--object-x-min) * (1 - var(--_ox))
    );

    --object-y-min: 0;
    --object-y-max: 360;
    --object-y-unit: calc(
        var(--object-y-max) * var(--_oy) +
        var(--object-y-min) * (1 - var(--_oy))
    );

    --object-z-min: 0;
    --object-z-max: 360;
    --object-z-unit: calc(
        var(--object-z-max) * var(--_oz) +
        var(--object-z-min) * (1 - var(--_oz))
    );

    --x-pos-min: 0;
    --x-pos-max: 4;
    --x-pos: calc(
        var(--x-pos-max) * var(--_px) +
        var(--x-pos-min) * (1 - var(--_px))
    );
    --y-pos-min: 0;
    --y-pos-max: 4;
    --y-pos: calc(
        var(--y-pos-max) * var(--_py) +
        var(--y-pos-min) * (1 - var(--_py))
    );
    --z-pos-min: 0;
    --z-pos-max: 4;
    --z-pos: calc(
        var(--z-pos-max) * var(--_pz) +
        var(--z-pos-min) * (1 - var(--_pz))
    );
    --hue-min: 0;
    --hue-max: 360;
    --hue: calc(
        var(--hue-max) * var(--_hue) +
        var(--hue-min) * (1 - var(--_hue))
    );

    timeline-scope: --_sx, --_sy, --_lx, --_ly, --_ox, --_oy, --_oz, --_px, --_py, --_pz, --_hue;
    animation: linear both;
    animation-name: --_sx, --_sy, --_lx, --_ly, --_ox, --_oy, --_oz, --_px, --_py, --_pz, --_hue;
    animation-timeline: --_sx, --_sy, --_lx, --_ly, --_ox, --_oy, --_oz, --_px, --_py, --_pz, --_hue;
    animation-range: entry 100% exit 0%; */

    --grid-size: min(45vw, 50vh);
    --cell-size: 5;

    --object-size: calc(var(--grid-size) / var(--cell-size));
    --object-size-half: calc(var(--object-size) * .5);
    --object-size-half-neg: calc(var(--object-size-half) * -1);

}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
    }
}
